# Requirements file for web/app hosting
# Add all Python modules/libraries needed for website

# Basic dependencies
# pandas
# numpy
# requests
# pathlib

# SQL
SQLAlchemy==2.0.2
# psycopg[c]; sys_platform == "linux"
# psycopg[binary]; sys_platform != "linux"
psycopg2-binary
Flask
# jsonify
# warnings

# Visualizations

# Other
gunicorn # Need to run apps
