body {
    background-color: black;
    color: #ebebeb;
    font: 14px/16px Arial, Helvetica, sans-serif
    }

.container-md {
    background-color: #9f1919;
}

.jumbotron {
    background: linear-gradient(to top, #640000, #9f1919); 
    color: white;
    padding: 1rem 1rem;
    border-radius: 0rem 
}

.well {
    background-color: rgba(0,0,0,0);
    border-color: white;
    border-width: 1px;
    border-radius: 3px;
    min-width: 120px;
    padding: 0px 10px 15px 0px;
}

.well h6 {
    margin-bottom: 3px;
}

select {
    color: #ebebeb;
    background-color: rgba(0,0,0,0.2);
    border-color: #777777;
    border-radius: 2px;
    padding: 4px;
    margin: 0px;
    width: 100%;
}

select option {
    color: #640000; 
}

.panel-primary {
    border-color: rgba(0,0,0,0.4);
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
}
.panel-info {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: -5px;
}

.panel-left {
    margin-left: 10px;
    margin-right: -5px;
}

.panel-right {
    margin-right: 10px;
}

.panel-heading {
    background-color: rgba(0,0,0,0.2);
    padding: 8px 12px 1px 12px;
}

.panel-label {
    background-color: rgba(0,0,0,0.2);
    padding: 7px 10px 7px 10px;
}

.panel-label h6 {
    margin: 0px;
}

.panel-value {
    color: white;
    background-color: #c32c2e;
    padding: 9px 10px 8px 10px;
}

.panel-value h4 {
    margin-bottom: 2px;
}

.test {
    border-style: solid;
    border-color: white;
}

.chart {
    background-color: rgba(0,0,0,0.1);
}

#map {
    background: #9f1919;
    min-width: 450px;
    height: 375px; 
}

.leaflet-control-container,
.leaflet-top.leaflet-control-zoom,
a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
  background-color: #ab9393;
  color: #640000;
}
.leaflet-control-zoom a:hover {
    background-color: #d1bcbc;
}

.map-info {
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: #ebebeb;
    background-color: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.4);
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    padding: 8px 10px 8px 10px;
    width: 190px;
}
.map-info h5 {
    margin: 0 0 5px;
    color: #444;
}
 
.map-legend {
    line-height: 18px;
    background-color: #ab9393;
    opacity: 1;
    color: #640000;
    width: 112px;
}
.map-legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#map-legend-title {
    padding-bottom: 5px;
}

.map-click {
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: #ebebeb;
    background-color: rgba(0,0,0,0);
    padding-left: 30px;
    padding-bottom: 30px;
    width: 200px;
}

#info-message {
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: #ebebeb;
    padding: 15px 0px 0px 10px;
}

#info-footer {
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: #ebebeb;
    padding-left: 10px;
}

#info-footer a:link {
    color: #ffbf00;
    background-color: transparent;
    text-decoration: none;
}
  
#info-footer a:visited {
    color: #ffbf00;
    background-color: transparent;
    text-decoration: none;
}
  
#info-footer a:hover {
    color: #ff7b47;
    background-color: transparent;
    text-decoration: underline;
}
  
#info-footer a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}